.banner {
    height: 90vh;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.banner__title_head {
    text-align: center;
    font-weight: 600;
    font-size: 80px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid whitesmoke;
}

.banner__title_head font {
    color: tomato;
}

.banner__title_tail {
    text-align: center;
    margin-top: 10px;
    color: azure;
    margin-left: 10px;
    margin-right: 10px;
}

.banner__buttons {
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.banner__button {
    color: white !important;
    background-color: tomato !important;
    padding: 10px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    margin-bottom: 10px !important;
}